# Node modules
node_modules

# Build files
/build
/dist

# Logs
logs
*.log
npm-debug.log*

# Maven/Gradle build output
target/
build/

# Java compiled files
*.class

# IDE files
*.iml
.idea/
*.classpath
*.project
*.settings/

# OS files
.DS_Store
Thumbs.db